.header{

}
.customcontainer{
padding-top: 75px;
}
.table>thead>tr>th, .table>tbody>tr>td {
    text-align: center;
    vertical-align:middle;
}
.boxtop{margin-top:100px;}
.input-w{width:300px;}
.customcol{
	padding-left: 0px;
	padding-right: 0px;
}
.topnav>ol{
	width: 89%;
}
.topnav>div{
	width:11%;
	color: #fff;
	background-color: #c83025;
}

