.header{

}
.customcontainer{
padding-top: 75px;
}
.table>thead>tr>th, .table>tbody>tr>td {
    text-align: center;
    vertical-align:middle;
}
.boxtop{margin-top:100px;}
.input-w{width:300px;}
.customcol{
	padding-left: 0px;
	padding-right: 0px;
}
.topnav{
	position: relative;
}
.topnav>div{
	position: absolute;
	top:0;
	right:0;
	background-color:#ed4e2a;
	color:white;
	padding: 8px 15px;
	margin-bottom: 20px;
    border-radius:0px;
}

