.header{

}
.customcontainer{
padding-top: 75px;
}
.table>thead>tr>th, .table>tbody>tr>td {
    vertical-align:middle;
}
.boxtop{margin-top:100px;}
.input-w{width:300px;}
.customcol{
	padding-left: 0px;
	padding-right: 0px;
}
.topnav{
	position: relative;
}
.topnav>div{
	position: absolute;
	top:0;
	right:0;
	background-color:#ed4e2a;
	color:white;
	padding: 8px 15px;
	margin-bottom: 20px;
    border-radius:0px;
}
.topnavbtngroup{
	position: relative;
}
.topnavbtngroup>div{
	position: absolute;
	top:0;
	right:0;
	color:white;
	margin-bottom: 20px;
    border-radius:0px;
}
.topnavbtngroup>div button{
    border-radius:0px;
}
.fade {
opacity: 0;
filter:alpha(opacity=0);
transition: opacity 0.15s linear 0s;
display : none;
}

.fade.in {
opacity: 1;
filter:alpha(opacity=100);
display : block;
}